<div class="bg-image">
  <div class="overlay">
    <h2>────── EXPERIENCE THE RICHNESS ──────</h2>
    <h1>Win Big Playing Luxury Casino Games</h1>
    <p>Win a once-in-a-lifetime exclusive Experience!</p>
    <p>{{title}}</p>
    <button type="button" (click)="goToLogin()"
      class="botonLogin text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
      started</button>
  </div>
</div>
<br><br>
<div class="bg-body flex justify-center">
  <div class="mx-auto">
    <a href=""><img src="/assets/ruleta.png" alt="" style="height: 100px;"></a>
  </div>
  <div class="mx-auto">
    <a href=""><img src="/assets/baraja.png" alt="" style="height: 90px;"></a>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>