<!-- grid grid-cols-2 max-w-2xl-->
<section class="flex relative">
  <div class="border border-white rounded-lg ml-20 mr-20 max-w-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium dorado">
        Your Profile
      </h3>
    </div>
    <div class="px-4 py-5 sm:p-0">
      <table class="text-sm text-left rtl:text-right text-white">
        <tbody>
          <tr>
            <th class="px-3 py-2 text-sm font-medium dorado">
              Full Name
            </th>
            <td class="px-3 py-2 mt-1 text-sm">
              Juan Antonio Garcia Castro
            </td>
          </tr>
          <tr>
            <th class="px-3 py-2 font-medium dorado">
              Email address
            </th>
            <td class="px-3 py-2 mt-1 text-sm">
              johndoexample.com
            </td>
          </tr>
          <tr>
            <th class="px-3 py-2 font-medium dorado">
              Balance
            </th>
            <td class="px-3 py-2 mt-1 text-sm">
              2983400€
            </td>
          </tr>
        </tbody>
      </table>
      <div class="px-4 py-5 flex justify-center items-center">
        <button type="submit"
          class="btn-dorado text-white  items-center focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Edit
          profile
        </button>
      </div>
    </div>
  </div>
  <div class="border border-yellow-500 rounded-lg">
    <div class="px-4 py-5 border border-white rounded-lg">
      <p class="text-lg text-center leading-6 font-medium dorado">
        Roulette
      </p>
      <table class="border border-white text-left rtl:text-right text-white">
        <thead class="text-xs uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Product name
            </th>
            <th scope="col" class="px-6 py-3">
              Color
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
            <th scope="col" class="px-6 py-3">
              Option
            </th>
            <th scope="col" class="px-6 py-3">
              Option
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="px-6 py-4 font-medium dorado">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
            <td class="px-6 py-4">
              <button type="button"
                class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
                started</button>
            </td>
          </tr>
          <tr>
            <th class="px-6 py-4 font-medium dorado">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
            <td class="px-6 py-4">
              <button type="button"
                class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
                started</button>
            </td>
          </tr>
          <tr>
            <th class="px-6 py-4 font-medium dorado">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
            <td class="px-6 py-4">
              <button type="button"
                class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
                started</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="px-4 py-5 border border-white rounded-lg">
      <h3 class="text-lg text-center leading-6 font-medium dorado">
        Poker
      </h3>
      <table class="text-sm text-left rtl:text-right text-white">
        <thead class="text-xs uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Product name
            </th>
            <th scope="col" class="px-6 py-3">
              Color
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
            <th scope="col" class="px-6 py-3">
              Option
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="px-6 py-4 font-medium dorado">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
            <td class="px-6 py-4">
              <button type="button"
                class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
                started</button>
            </td>
          </tr>
          <tr>
            <th class="px-6 py-4 font-medium dorado">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
            <td class="px-6 py-4">
              <button type="button"
                class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
                started</button>
            </td>
          </tr>
          <tr>
            <th class="px-6 py-4 font-medium dorado">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
            <td class="px-6 py-4">
              <button type="button"
                class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
                started</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>