<section class=" grid grid-cols-2 relative">
  <div scope="col" class="border border-white rounded-lg overflow-hidden shadow m-2">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium dorado">
        Your Profile
      </h3>
    </div>
    <div class=" px-4 py-5 sm:p-0">
      <dl class="">
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Full name
          </dt>
          <dd class="mt-1 text-sm dorado sm:mt-0 sm:col-span-2">
            John Doe
          </dd>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Email address
          </dt>
          <dd class="mt-1 text-sm dorado sm:mt-0 sm:col-span-2">
            johndoexample.com
          </dd>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Phone number
          </dt>
          <dd class="mt-1 text-sm dorado sm:mt-0 sm:col-span-2">
            (123) 456-7890
          </dd>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Address
          </dt>
          <dd class="mt-1 text-sm dorado sm:mt-0 sm:col-span-2">
            123 Main St<br>
            Anytown, USA 12345
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div scope="col" class="border border-yellow-500 rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-white">
      <thead class="text-xs uppercase dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Product name
          </th>
          <th scope="col" class="px-6 py-3">
            Color
          </th>
          <th scope="col" class="px-6 py-3">
            Category
          </th>
          <th scope="col" class="px-6 py-3">
            Price
          </th>
          <th scope="col" class="px-6 py-3">
            Option
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="px-6 py-4 font-medium dorado">
            Apple MacBook Pro 17"
          </th>
          <td class="px-6 py-4">
            Silver
          </td>
          <td class="px-6 py-4">
            Laptop
          </td>
          <td class="px-6 py-4">
            $2999
          </td>
          <td class="px-6 py-4">
            <button type="button"
              class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
              started</button>
          </td>
        </tr>
        <tr>
          <th class="px-6 py-4 font-medium dorado">
            Apple MacBook Pro 17"
          </th>
          <td class="px-6 py-4">
            Silver
          </td>
          <td class="px-6 py-4">
            Laptop
          </td>
          <td class="px-6 py-4">
            $2999
          </td>
          <td class="px-6 py-4">
            <button type="button"
              class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
              started</button>
          </td>
        </tr>
        <tr>
          <th class="px-6 py-4 font-medium dorado">
            Apple MacBook Pro 17"
          </th>
          <td class="px-6 py-4">
            Silver
          </td>
          <td class="px-6 py-4">
            Laptop
          </td>
          <td class="px-6 py-4">
            $2999
          </td>
          <td class="px-6 py-4">
            <button type="button"
              class="btn-dorado text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-blue-800">Get
              started</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>