/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(24, 24, 28);
}

.dorado {
    color: rgb(159, 142, 98);
}

.centrar {
    display: flex;
    justify-content: center;
}

.botonGeneral {
    background-image: linear-gradient(to right, rgb(131, 111, 62), rgb(153, 153, 106));
}

.botonGeneral:hover {
    background-image: linear-gradient(to right, rgb(136, 110, 46), rgb(156, 156, 79));
}